@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
margin:0px;
padding:0px;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

 .btn{
 border-radius: 40px;
  font-size:1.8 rem;
  font-weight: 600;
  margin: 1rem 0;
  padding:2 rem 3 rem;
  white-space: nowrap;
 }
 .btn--pic2{
 background: #fff;
  color: black;
  border: 2px solid black;
 }
 .btn--pic2:hover{
 background: #D3D3D3;
  color: #fff;
 }
 
}
.comeee{
margin: 50px auto;
width:80%;
padding: 30px;
}
.oneee
{
float: right;
width: 300px;
height: 260px;
padding:0 10px 0 0;}
.texttt
{
text-align: center;
}
.come{
margin: 10rem auto;
width:100%;
padding: 20px;
justify-content: space-between;

}
.one img
{
float: left;
width: 300px;
height: 260px;
padding:0 40px 0 0;}
.text
{
text-align: justify;
}
.go{
background-color: 	#DCDCDC;}
nav .logo{
font-size:30px;
font-weight: bold;
letter-spacing: 1.5px;}

nav ul{
float: middle;}
nav.logo p{
float: left;
color:#fff;}

nav ul li{
display: inline-block;}
nav ul li a{
color:#808080;
text-decoration: none;
font-size: 18px;
padding:0px 15px;}


 .frontimage{ width: 50%;
height: 50vh;

}
nav ul li a:hover{
color:#000000;
}
nav ul li .active{
color:#000000;}
.tittle{
font-size: 3rem;
 margin: 2rem  0rem;
 
}
.faq{
max-width: 700px;
 margin-top: 2 rem;
 padding-bottom: 1 rem;
 border-bottom: 2px solid #000000;
 cursor: pointer;
}
.question{
display: flex;
 justify-content: space-between;
 align-items: center;
}

.question h3{
font-size: 1rem;
}
.answer{
max-height: 0;
 overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p{
padding-top: 1rem;
 line-height: 1.6;
 font-size: 1.4rem;
 
}
.faq.active .answer{
max-height: 300px;
 animation: fade 1s ease-in-out;
}
.faq.active svg{
transform: rotate(180deg);
}
svg{
transition: transform 0.5s ease-in; 
}
@keyframes fade {
 from{
 opacity: 0;
  transform: translateY(-10px);
 }
 to{
 opacity: 1;
  transform: translateY(0px);
 }
 

}
